<div class="navbar-inner" data-ng-controller="HeaderController">
    <ul class="nav">
        <li>
            <a class="brand" href="/" translate>MEAN - A Modern Stack</a>
        </li>
        <li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
            <a href="#!/{{item.link}}">{{item.title}}</a>
        </li>
    </ul>
    <ul class="nav pull-right" data-ng-hide="global.authenticated">
        <li>
            <a ng-click="chengeLanguage()">EN/中</a>  
        </li> 
        <li><a href="signup" translate>Signup</a>
        </li>
        <li class="divider-vertical"></li>
        <li><a href="signin" translate>Signin</a>
        </li>
    </ul>
    <ul class="nav pull-right" data-ng-show="global.authenticated">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				{{global.user.name}} <b class="caret"></b>
			</a>
            <ul class="dropdown-menu">
                <li><a href="/signout" translate>Signout</a>
                </li>
            </ul>
        </li>
    </ul>
</div>